/* &display=swap */
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	margin: 0 auto;
	width: 1140px;
}

.header {
	width: 2080px;
	margin-bottom: 50px;
	height: 80px;
	position: fixed;
	z-index: 1000;
	background-color: #2f2f2f
}

.logo {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
	max-width: 200px;
	height: auto; 
}

h1 {
	text-align: center;
	margin-bottom: 50px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 40px;
	font-weight: 900;
	line-height: 115%;
}

.h1-start {
	margin-top: 100px;
}

h2 {
	font-size: 30px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
}

.senna-sp {
	color:rgb(3, 0, 0)
}

.senna-img {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}

p {
	font-size: 30px;
	font-weight: normal;
}

.block-p1 {
	width: 696px;
	height: 180px;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 3px;
	background-color: rgba(40, 45, 46, 0.966);
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.596);	
}

.text-p1 {
	padding: 10px 5px;	
	font-size: 22px;
	line-height: 120%;
	color: rgb(206, 202, 202);
	text-align: center;
	
}

.navi {
	margin: 20px 0px 20px 20px;
}

.navi ul li {
	line-height: 180%;
	color: rgb(2, 167, 189); 
}

.text-p2 {
	margin: 20px 0px 20px 0px;
	font-size: 22px;
	line-height: 120%;
	color: rgba(0, 0, 0, 0.8);
	
}

.block-p3 {
	margin-top: 30px;
	margin-bottom: 20px;
	background-image: url(../img/Background-Graphics.jpg);
	border-radius: 3px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;	
}

.text-p3 {
	padding: 20px 10px 10px 5px;
	font-size: 22px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.657);
}

.text-p3-2 {
	padding: 0px 10px 20px 5px;
	font-size: 22px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.657);
}

.text-p4 {
	margin: 20px 0px 20px 0px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.text-p4-2 {
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.block-bg {
	width: 696px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 3px;
	background: rgb(63,161,251);
	background: radial-gradient(circle, rgba(63,161,251,1) 0%, rgba(252,70,86,1) 100%);
	padding: 10px 10px;
	font-style: 30px;
	font-weight: 700;
	text-align: center;
	color:rgb(255, 255, 255);
}

.text-p4-3 {
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.img-love {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

.text-p5 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.block-fly {
	width: 696px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 3px;
	background: rgb(63,161,251);
	
	padding: 10px 10px;
	font-style: 30px;
	font-weight: 700;
	text-align: center;
	color:rgb(255, 255, 255);
}

.img-fly {
	display: block;
	margin: 0 auto;
}

.text-p5 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.text-p5-2 {
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.img-car {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 20px;
}

.text-p6 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.text-p6-2 {
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.text-p6-3 {
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.img-car-2 {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 20px;
}

.text-p7 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.block-sports {
	margin-bottom: 20px;
	background-image: url(../img/photo_backgrounds.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 3px;	
	
	padding: 10px 10px;
	font-style: 30px;
	font-weight: 700;
	text-align: center;
	color:rgb(24, 24, 24);
}

.text-p8 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.block-sports-2 {
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.856);
	border-radius: 3px;	
	
	padding: 10px 10px;
	font-style: 30px;
	font-weight: 700;
	text-align: center;
	color:rgb(255, 255, 255);
}

.text-p9 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.img-champ {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	border-radius: 3px;
	margin-bottom: 20px;
}

h3 {
	margin-top: 20px;
	margin-left: 10px;
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 22px;
	color: red;
}

.sps {
	margin-left: 30px;
	margin-bottom: 20px;
}

.sps ul li {
	line-height: 180%;
	color: red;

}

.h2-mb {
	margin-bottom: 20px;
}

.text-p9 {
	margin-bottom: 20px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.657);
}

.img-pm {
	display: block;
	margin: 0 auto;
	margin-bottom: 80px;
	border-radius: 3px;
}

footer {
	height: 80px;
	background-color: #2f2f2f
}

h4 {
	padding-top: 40px;
	text-align: center;
	color: aliceblue;
	font-size: 12px;
}














